
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .header {
   height: 100vh;
   background-color: black;
   color: white;
   display: flex;
   flex-direction: column;

 }
 .header nav ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 10px 0;
 }
 .header nav a{
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.5rem
 }
 .header nav a:hover{
  text-decoration: underline;
 }
 .header .header-text{
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./Images/victor.jpg');
  background-position: fit;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .header .header-text h1{
  display: flex;
  flex-direction: column;

 }