
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
body{
  background-color: rgb(112, 112, 112);
  color: white;
}
 .header {
   height: 100vh;
   background-color: black;
   color: white;
   display: flex;
   flex-direction: column;

 }
 .header nav ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 10px 0;
 }
 .header nav a{
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.5rem
 }
 .header nav a:hover{
  text-decoration: underline;
 }
 .header .header-text{
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./Images/victor.jpg');
  background-position: fit;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .header .header-text h1{
  display: flex;
  flex-direction: column;

 }
 .Contacts {
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Contacts-left {
  flex-basis: 50%;
  text-align: left;
  padding-right: 20px;
}

.sub-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.Contacts-left p {
  margin-bottom: 5px;
  font-size: 16px;
}

.Contacts-left .social-icons {
  margin-top: 20px;
}

.Contacts-left .social-icons a {
  color: #333;
  margin-right: 10px;
  font-size: 24px;
}

.Contacts-right {
  flex-basis: 50%;
  text-align: left;
  padding-left: 20px;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}